.loading-spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  width: 100%;
}

.loading-spinner-content {
  text-align: center;
}

.loading-spinner-content .spinner-border {
  width: 3rem;
  height: 3rem;
}
